In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
store = pd.read_csv ('C:/Users/navee/OneDrive/Desktop/Data Science Assignments/Assignment 3 - Hypothesis Testing/Faltoons.csv')

In [3]:
store.head(10)

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female
5   Female    Male
6   Female  Female
7   Female    Male
8   Female  Female
9   Female    Male

In [4]:
tab1= store.Weekdays.value_counts()
tab1

Female    287
Male      113
Name: Weekdays, dtype: int64

In [5]:
tab2=store.Weekend.value_counts()
tab2

Female    233
Male      167
Name: Weekend, dtype: int64

In [6]:
pd.crosstab(store.Weekdays,store.Weekend)

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [7]:
from statsmodels.stats.proportion import proportions_ztest

In [8]:
count = np.array([47,167])
nobs = np.array([113,287])

In [9]:
tats,pval=proportions_ztest(count,nobs,alternative='two-sided')
print(pval)

0.002736185293977851

In [10]:
# p-value = 0.0027 < 0.05 accept alternate hypothesis i.e. Unequal proportions